@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    font-family: Poppins;

}

body{
    background: rgb(2,0,36);
    background: rgb(205,158,255);
    background: linear-gradient(25deg, rgba(205,158,255,1) 27%, rgba(76,224,255,1) 100%);     
    background-attachment: fixed;
    height:100vh
}

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
    height: 50px;
    padding-left: 20%;
    padding-right: 20%;


}

.logo{
    padding-left: 10px;
    padding-right: 30px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    font-size: 20pt;
    font-weight: 600;
    font-style: italic;
}

.button{
    width: 70px;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.button:hover{
    background-color: rgba(153, 153, 153, 0.247);
    font-weight: 600;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contentChild{
    width: 50%;
    padding: 30px;
    background: rgb(205,205,205);
    background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);    
    Height: 70%;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
    text-align: justify;
    display: flex;
    align-items: top;
}

img{
    float: right;
    max-height:95px;
    width: auto;
    height: auto;
}